<!DOCTYPE html>

<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home EvMine</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Tangerine&display=swap" rel="stylesheet">
	 <style>
   * {
    margin: 0;
    padding: 0;
   }
  </style>


</head>

<body>
	<header class="header" id="header">

		<div class = 'nav'>
			<div class = "logo">
				<img src = 'https://res.cloudinary.com/digtjtru6/image/upload/c_scale,h_137/v1615183671/97787834f50f4c5f36590b24bc1da267_vxtk6q.png' alt = 'logo'>
			</div>
			<ul class = "list_nav">
				<li class = 'nav_li'><a href="#home_text" class="nav_a home">Главная</a></li>
				<li><a href="#prese" class="nav_a present">Поздравление</a></li>
				</ul>
			</div>

		<div class="Home_text" id = home_text>
		<h1 class= 'Zagolovok'>Поздравляю мою маму, сестру, бабушек, тёть и т.д. С 8-мым МАРТА!</h1>
		<p class="detail"></p>
		<img src="https://res.cloudinary.com/digtjtru6/image/upload/c_scale,h_598/v1615188208/1_utv1gv.png">
		</div>

	</header>
	
	<section>
		<div class="block">
		<h2 id = 'prese'>Поздравление</h2>
		<p class= 'pres'>С 8 Марта поздравляю
И от всей души желаю
Крепких нервов для работы,
Сильной воли для семьи,
Чтобы все, что ни начнешь ты,
Начинала по любви!
Ты мечтай и будь прекрасна,
Как весна в свой каждый май!
И на крыльях, словно птица,
От плохого улетай!
</p>
</div>


	</section>
<footer>
	Сайт был создан специально для поздравления с 8 марта
</footer>

</body>
</html>